/* Estilizaçao botões do menu */
.listContainer {
    background-color: #212121;
}
.lisItem :global(.vtex-button) :hover {
    border: transparent;
    background-color: #212121;
}
.listItemActive :global(.vtex-button) {
    background-color: #212121;
    border: transparent;
    border-bottom: 2px solid #59FF00;
    color: #59FF00; 
}
