.minicartTitle {
    color: #59ff00;
}
.minicartEmptyStateContainer {
    margin-top: 10px;
}
.minicartCheckoutButton :global(.vtex-button) {
    color: #3C3C3C;
    background-color: #59ff00;
    width: 60%;
    border-radius: 10px;
}
.minicartCheckoutButton :global(.vtex-button):hover {
    color: #3C3C3C;
    background-color: #3EB200;
    width: 60%;
    border-radius: 10px;
}